PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://pgpatel1345_db_user:bpYzjuuQvvpdG97L@cluster0.tpfjolq.mongodb.net/?appName=Cluster0
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-this
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./uploads
